appdirs==1.4.4
Flask==3.0.3
flask_socketio==5.3.6
numpy==2.0.1
opencv_contrib_python==4.10.0.84
opencv_python==4.10.0.84
python-dotenv==1.0.1
python-socketio[client]==5.11.3
Requests==2.32.3
pillow==10.4.0