# Folders

node_modules/
configs/
random/
models/
pose/
build/
wheel_contents/
*data*/
*cache*/
*test*/

# Extensions

*.venv*
*.direnv*
*.npy*
*.log
*.so
*.db
*.tar
*.tar.gz
*.tar.xz
*.env
*.env.argos_*
*.yaml*
*.zip*
*.egg-info*
*.mp4

RefiNet/
opencv*/
scenic/
videos/

!kinetics/kinetics/tests/