# Folders

node_modules/
configs/
random/
models/
pose/
build/
wheel_contents/
*data*/
*cache*/
*test*/

# Extensions

*.venv*
*.direnv*
*.npy*
*.log*
*.so*
*.db*
*.tar*
*.whl*
*.env
*.env.*
*.yaml*
*.zip*
*.egg-info*

