# ignore everything
*

# except for these files
!.gitignore
!.envrc
!README.md
!setup_rpi.py
!deploy_rpi.sh
!setup_master.py
!deploy_master.sh

!argos/
!argos/**
argos/libs/*
!argos/libs/.gitkeep
argos/src/core/models/*
!argos/src/core/models/.gitkeep

!configs
!configs/*

!bash/
!bash/*

# but keep ignoring these
*.npy
*.log
*.so

*__pycache__/
