{% extends "layout.html" %}
{% from "macros/modal.html" import modal with context %}
{% block title %}
  Stations
{% endblock title %}
{% block body %}
  <div class="container py-4">
    <div class="row pb-3">
      <div class="col-4 col-md my-auto ps-2">
        <h2 class="m-0">Stations</h2>
      </div>
      <div class="col-12 col-md-5 order-2 order-md-1 my-auto mt-3 mt-md-0 px-2">
        <div class="input-group">
          <input class="form-control rounded-pill"
                 type="search"
                 placeholder="Search for a station">
        </div>
      </div>
      <div class="col order-1 order-md-2 my-auto align-right pe-2">
        <button type="button"
                class="btn btn-primary"
                data-bs-toggle="modal"
                data-bs-target="#modal">Add station</button>
        <button class="btn view-type ms-1">
          {% if request.args.get('view') == 'map' %}
            <a href="{{ url_for("stations", view="grid") }}">
              <img id="grid" src="{{ url_for("static", filename="img/grid.svg") }}" alt="Grid view" height="20px" width="auto" />
            </a>
          {% else %}
            <a href="{{ url_for("stations", view="map") }}">
              <img id="map" src="{{ url_for("static", filename="img/map.svg") }}" alt="Map view" height="20px" width="auto" />
            </a>
          {% endif %}
        </button>
      </div>
    </div>
    {% call modal("Add station") %}
      <form class="row g-3 needs-validation mx-n4" id="station-form" novalidate>
        <div class="col-12">
          <label for="name" class="form-label">Station Name</label>
          <input type="text"
                 class="form-control"
                 id="name"
                 name="name"
                 placeholder="ex: Algarve 1365"
                 maxlength="40"
                 required>
          <div class="invalid-feedback">Please provide a valid name.</div>
        </div>
        <div class="col-12">
          <label for="id" class="form-label">Station ID</label>
          <input type="text"
                 class="form-control"
                 id="id"
                 name="id"
                 placeholder="ex: ALG-1365"
                 maxlength="8"
                 minlength="8"
                 pattern="^[A-Z]{3}-[0-9]{4}$"
                 required>
          <div class="invalid-feedback">Please provide a valid ID (ex: ALG-1365).</div>
        </div>
        <div class="col-12">
          <label for="description" class="form-label">Station Description</label>
          <textarea maxlength="244"
                    class="form-control"
                    id="description"
                    name="description"></textarea>
        </div>
        <div class="col-12 align-right" id="submit">
          <button class="btn btn-primary" type="submit">Submit form</button>
        </div>
      </form>
    {% endcall %}
    {% if request.args.get('view') == 'map' %}
    {% else %}
      {% if content is defined and content|length %}
        {% with content=content %}
          {% include "components/grid.html" %}
        {% endwith %}
      {% else %}
        {% include "components/empty.html" %}
      {% endif %}
    {% endif %}
  </div>
{% endblock body %}
{% block script %}
  <script src="{{ url_for('static', filename='js/stations.js') }}"></script>
{% endblock script %}
```
