<nav class="navbar sticky-top navbar-expand-sm p-0">
  <div class="container-fluid">
    <a class="navbar-brand"
       href="https://www.hitachirail.com"
       target="_blank">
      <img src="{{ url_for('static', filename='images/logo.png') }}"
           alt="Thales"
           height="25"
           width="auto" />
    </a>
    <button class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation">
      <img src="{{ url_for('static', filename='images/menu.svg') }}"
           alt="Menu"
           height="auto"
           width="25px" />
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item {{ 'active' if request.path == url_for("ui.nodes") else '' }}">
          <a href="{{ url_for("ui.nodes") }}" class="nav-link" aria-current="page">Nodes</a>
        </li>
        <li class="nav-item {{ 'active' if request.path == url_for("ui.datasets") else ''}}">
          <a href="{{ url_for("ui.datasets") }}" class="nav-link" aria-current="page">Datasets</a>
        </li>
        <li class="nav-item {{ 'active' if request.path == url_for("ui.logs") else ''}}">
          <a href="{{ url_for("ui.logs") }}" class="nav-link" aria-current="page">Logs</a>
        </li>
        <li class="nav-item logout">
          <a class="nav-link" href="#">
            Logout
            <img src="{{ url_for("static", filename="images/logout.svg") }}" class="ms-1" alt="Menu" height="auto" width="14px" />
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
