{% extends "views/base.jinja" %}
{% block title %}
  Page Not Found
{% endblock title %}
{% block body %}
  <div class="container">
    <div class="row">
      <div class="col-12 text-center mt-5">
        <img src="{{ url_for('static', filename='images/500.svg') }}"
             alt="500"
             height="1"
             width="1"
             class="w-50 h-100" />
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-center mt-5">
        <a href="#" onclick="window.location.reload(); return false;">
          <p>
            <i class="fas fa-rotate-right"></i> Try again
          </p>
        </a>
      </div>
    </div>
  </div>
{% endblock body %}
