{% extends "views/base.jinja" %}
{% from "components/modal.jinja" import modal with context %}
{% block title %}
  Areas
{% endblock title %}
{% block body %}
  <div class="container py-4">
    <div class="row justify-content-center pb-3">
      <div class="col my-auto ps-3">
        <h2 class="m-0">Areas</h2>
      </div>
      <div class="col my-auto">
        <div class="input-group">
          <input class="form-control rounded-pill"
                 type="search"
                 placeholder="Search for an area" />
        </div>
      </div>
      <div class="col my-auto align-right pe-3">
        <button type="button"
                class="btn btn-primary"
                data-bs-toggle="modal"
                data-bs-target="#modal">Add area</button>
      </div>
    </div>
    {% call modal("Add area") %}
    {% endcall %}
    {% if content is defined %}
      {% with content=content %}
        {% include "components/grid.html" %}
      {% endwith %}
    {% else %}
      {% with message="There are no areas defined!" %}
        {% include "components/empty.jinja" %}
      {% endwith %}
    {% endif %}
  </div>
{% endblock body %}
