<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <title>ARGOS -
      {% block title %}
      {% endblock title %}
    </title>
    {# External assets #}
    <link rel="stylesheet"
          type="text/css"
          href="{{ url_for('gui.static', filename='css/bootstrap.min.css') }}" />
    {# Internal assets #}
    <link rel="icon"
          type="image/vnd.microsoft.icon"
          href="{{ url_for('gui.static', filename='images/favicon.ico') }}" />
    {% assets "main" %}
    {% endassets %}
    <link rel="stylesheet"
          type="text/css"
          href="{{ url_for('gui.static', filename='css/main.css') }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Central interface for the Argos system" />
    <meta name="keywords" content="Argos, Computer Vision, Analytics" />
    {% block assets %}
    {% endblock assets %}
  </head>
  <body>
    <div class="viewport-warning" id="viewport-warning">
      Your viewport width is less than 500px. Please resize your window.
    </div>
    <div id="body-content">
      {% include "components/navbar.jinja" %}
      {% block body %}
      {% endblock body %}
    </div>
    {# External assets #}
    <script src="{{ url_for('gui.static', filename='js/axios.min.js') }}"></script>
    <script src="{{ url_for('gui.static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('gui.static', filename='js/fontawesome.min.js') }}"></script>
    <script src="{{ url_for('gui.static', filename='js/socket.io.min.js') }}"></script>
    {# Internal assets #}
    <script src="{{ url_for('gui.static', filename='js/main.js') }}"></script>
    <script>
      function checkViewportWidth() {
        const minWidth = 500; // Minimum width in pixels
        const warningElement = document.getElementById('viewport-warning');
        const contentElement = document.getElementById('body-content');

        if (window.innerWidth < minWidth) {
          // Show the warning and hide the content
          warningElement.style.display = 'block';
          contentElement.style.display = 'none';
        } else {
          // Hide the warning and show the content
          warningElement.style.display = 'none';
          contentElement.style.display = 'block';
        }
      }

      // Check on page load
      window.addEventListener('load', checkViewportWidth);

      // Check on window resize
      window.addEventListener('resize', checkViewportWidth);
    </script>
    {% block script %}
    {% endblock script %}
  </body>
</html>
