{% extends "views/base.jinja" %}
{% block title %}
  Cameras
{% endblock title %}
{% block body %}
  <div class="container py-4">
    <div class="row justify-content-center pb-3">
      <div class="col my-auto ps-3">
        <h2 class="m-0">Cameras</h2>
      </div>
      <div class="col my-auto">
        <div class="input-group">
          <input class="form-control rounded-pill"
                 type="search"
                 placeholder="Search for a camera" />
        </div>
      </div>
      <div class="col my-auto align-right pe-3">
      </div>
    </div>
    {% if content is defined %}
      {% with data=content, actions=["pencil"] %}
        {% include "components/grid.jinja" %}
      {% endwith %}
    {% else %}
      {% with message="There are no areas defined!" %}
        {% include "components/empty.jinja" %}
      {% endwith %}
    {% endif %}
  </div>
{% endblock body %}
